### Simple naive bayes model

import libs

In [15]:
from sys import path
path.append('..')

import pandas as pd
from NaiveBayes import NaiveBayes

Load data:
    + it's titanic data, to predict survived people

In [16]:
df_titanic = pd.read_csv('../Datasets/titanic.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

+ Clear data
+ delete unnecessary column like name, ticket, etc ...

In [17]:
df_titanic.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1, inplace=True)
df_titanic.dropna(inplace=True, axis=0)

split data

In [19]:
from sklearn.model_selection import train_test_split
data_train, data_test = train_test_split(df_titanic, test_size=0.2)
######
target_train = data_train["Survived"]
target_test = data_test["Survived"]

data_train = data_train.drop(["Survived"], axis=1)
data_test = data_test.drop(["Survived"], axis=1)

 Init model

In [20]:
naive_bayes = NaiveBayes(data_train, target_train)
naive_bayes.fit()

In [21]:
from sklearn.metrics import accuracy_score
print( accuracy_score(target_test, naive_bayes.predict(data_test)))

0.7342657342657343

In [22]:
data_train.head()

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
337       1  female  41.0      0      0  134.5000        C
329       1  female  16.0      0      1   57.9792        C
884       3    male  25.0      0      0    7.0500        S
394       3  female  24.0      0      2   16.7000        S
782       1    male  29.0      0      0   30.0000        S

In [24]:
# example of column <sex> information
naive_bayes._X_info[1]

{'__total_count__': 569,
 '__classes__': {'female': {'__count__': 206,
   1: {'__count__': 159, '__prob__': 0.27943760984182775},
   0: {'__count__': 47, '__prob__': 0.08260105448154657}},
  'male': {'__count__': 363,
   1: {'__count__': 77, '__prob__': 0.13532513181019332},
   0: {'__count__': 286, '__prob__': 0.5026362038664324}}},
 'is_continous': False}

In [25]:
# example of column <age> information
# is a type continous value
naive_bayes._X_info[2]

{'__total_count__': 569,
 'is_continous': True,
 1: {'__count__': 236,
  '__mean__': 11.731107205623902,
  '__variance__': 2.0576269248169243},
 0: {'__count__': 333,
  '__mean__': 18.20738137082601,
  '__variance__': 1.1326278279353663}}